@import "tailwindcss";

html,
body,
#root {
  min-height: 100%;
}

body {
  margin: 0;
  background: #070b18;
  color: #ffffff;
  font-family: "Courier New", Courier, monospace;
}

@keyframes clouds {
  0% {
    transform: translateX(-3%);
  }

  50% {
    transform: translateX(3%);
  }

  100% {
    transform: translateX(-3%);
  }
}
